@model Tamkeen.Domain.Entities.Application

<h2>Application Details</h2>

<ul class="list-group">

    <li class="list-group-item">
        <strong>Full Name:</strong> @Model.FullName
    </li>

    <li class="list-group-item">
        <strong>Email:</strong> @Model.Email
    </li>

    <li class="list-group-item">
        <strong>University:</strong> @Model.University
    </li>

    <li class="list-group-item">
        <strong>Major:</strong> @Model.Major
    </li>

    <li class="list-group-item">
        <strong>Status:</strong> @Model.Status
    </li>

</ul>
