@model Tamkeen.Domain.Entities.Trainee

<h2>Trainee Details</h2>

<ul class="list-group">
    <li class="list-group-item"><strong>Name:</strong> @Model.User.FullName</li>
    <li class="list-group-item"><strong>University:</strong> @Model.University</li>
    <li class="list-group-item"><strong>Major:</strong> @Model.Major</li>
    <li class="list-group-item"><strong>GPA:</strong> @Model.GPA</li>
    <li class="list-group-item"><strong>Status:</strong> @Model.Status</li>
</ul>
